* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../src/image/videogames.jpg');
  min-width: 100%;
  min-height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 2px solid red;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 2px solid black;
}

#root {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}