.conteinerVideogamer {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    position: relative;
    overflow: hidden;
    border: 2px solid green;
    border-radius: 12px;
}

.imageVideogamer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.capaVideogamer {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    font-size: 60%;
    background-color: rgba(0, 255, 255, 0.274);
    color: black;
    opacity: 0;
}

.conteinerVideogamer:hover > .capaVideogamer {
    opacity: 1;
    visibility: visible;
}