.header {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(0, 174, 255, 0.836);
}

.headerTitle {
    display: flex;
    position: relative;
    
}
.headerTitle :link {
    text-decoration: none;
}
.header h1 {
    margin: 0.2rem;
    margin-top: 0.6rem;
    padding: 0;
    font-size: 40px;
    color: black;
    text-shadow:
    0 0 5px rgb(0, 255, 42),
    0 0 10px rgb(0, 255, 106),
    0 0 20px rgb(0, 255, 34),
    0 0 40px rgb(59, 127, 38),
    0 0 80px rgba(38, 104, 127, 1),
    0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1),
    0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgb(38, 127, 38);
}

.headerImage {
    position: absolute;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 0.1rem;
    margin-left: 16rem;
    background-color: none;
    height: 55px;
    width: 60px;
    border-radius: 15px;
}

.searcHeader {
    height: 100%;
    width: 100%;

}

.sortHeader {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.activewarning{
    position: absolute;
    background-color: #0662b8;
    height: 300px;
    width: 600px;
    z-index: 300;
    margin-top: 15%;
    margin-left: 25%;
    border-radius: 12px;
    border: 2px solid white;
}
.activewarning button {
    height: 40px;
    width: 40px;
    margin-left: 92%;
    margin-top: 1%;
    border-radius: 20px;
    color: red;
    font-size: 20px;
    font-weight: 800;
    background-color: white;
    border: none;
    cursor: pointer;
}
.activewarning h1 {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 6%;
    color: white;
}
.activewarning img {
    height: 100px;
    width: 100px;
}
.disabledwarning{
    position: absolute;
    height: 300px;
    width: 600px;
    z-index: 0;
    margin-top: 20%;
    margin-left: 25%;
    background-color: none;
}
.disabledwarning img {
    opacity: 0;
}
.disabledwarning button {
    opacity: 0;
}


.conteinerVideogamers {
    min-width: 98%;
    min-height: auto;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
    column-gap: 10px;
    row-gap: 15px;
}

.paginationHome {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.loader {
    background-color: #1c163ad7;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.circles {
    position: absolute;
    height: 60px;
    width: 300px;
    margin-top: 24%;
    margin-left: 40%;
}

.circles span {
    position: absolute;
    margin-top: 12px;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
}

.circles span.one {
    right: 80px
}

.circles span.two {
    right: 40px
}

.circles span.three {
    right: 0px
}

.circles {
    -webkit-animation: animcircles 0.5s infinite linear;
    animation: animcircles 0.5s infinite linear
}

@-webkit-keyframes animcircles {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }

    100% {
        -webkit-transform: translate(-40px, 0px);
        transform: translate(-40px, 0px)
    }
}

@keyframes animcircles {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }

    100% {
        -webkit-transform: translate(-40px, 0px);
        transform: translate(-40px, 0px)
    }
}

.pacman {
    position: absolute;
    margin-left: 48%;
    margin-top: 24%;
    height: 50%;
    width: 50%;
}

.pacman .eye {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 7px;
    width: 7px;
    border-radius: 7px;
    background-color: #1C163A
}

.pacman span {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px
}

.pacman span::before {
    content: "";
    position: absolute;
    left: 0;
    height: 30px;
    width: 60px;
    background-color: #FFFB16
}

.pacman .top::before {
    top: 0;
    border-radius: 60px 60px 0px 0px
}

.pacman .bottom::before {
    bottom: 0;
    border-radius: 0px 0px 60px 60px
}

.pacman .left::before {
    bottom: 0;
    height: 60px;
    width: 30px;
    border-radius: 60px 0px 0px 60px
}

.pacman .top {
    -webkit-animation: animtop 0.5s infinite;
    animation: animtop 0.5s infinite
}

@-webkit-keyframes animtop {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
}

@keyframes animtop {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
}

.pacman .bottom {
    -webkit-animation: animbottom 0.5s infinite;
    animation: animbottom 0.5s infinite
}

@-webkit-keyframes animbottom {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

@keyframes animbottom {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

.loaderH1 {
    position: absolute;
    margin-left: 47%;
    margin-top: 29%;
    color: white;
}