.conteinterCreate {
    height: 100vh;
    width: 100%;
}
.conteinterCreate .label {
    color: red;
    font-size: 17px;
    font-weight: 600;
    margin-left: 40%;
}
.conteinerForm{
    padding: 1%;
    margin-top: 3%;
    margin-left: 2%;
    width: 95%;
    background-color: rgb(0, 174, 255);
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px 100px 90px 140px 55px;
    grid-gap: 10px;
    border: 3px solid black;
}


.backCreate{
    border-radius: 20px;
    margin-left: 13px;
    margin-top: -6%;
}
.backCreate button{
    background-color: rgb(47, 47, 241);
    margin-top: 5px;
    height: 55px;
    width: 55px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    color: white;
}
.name {
    display: flex;
    flex-direction: column;
}
.name label{
    margin-left: 45%;
}

.name input{
    width: 95%;
    height: 34px;
    margin: 1%;
    border-radius: 8px;
    border: 2px solid black;
}


.genres {
    display: flex;
    flex-direction: column;
}
.genres label{
    margin-left: 45%;
}

.genres select{
    width: 95%;
    height: 35px;
    margin: 1%;
    border-radius: 8px;
    border: 2px solid black;
}
.disabledCreate {
  opacity: 0;
}
.description {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: 60%;
}

.description label {
    margin-left: 40%;
}
.description textarea{
    width: 500px;
    height: 100px;
    border-radius: 8px;
}

.buttonCreate {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-left: 95%;
    height: 93%;
    opacity: 1;
}
.disabledButtonCreate{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-left: 95%;
    height: 93%;
    opacity: 0;
}
.delete1 button{
    margin-left: 3px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 8px;
}

.delete2 button{
    margin-left: 3px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 8px;
}