.conteinerSearch {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 3%;
    height: 25%;
    width: 100%;

}

.inputSearch {
    position: absolute;
    border: 2px solid white;
    border-radius: 1rem;
    height: 0.1rem;
    width: 25rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: 150ms cubit-bezier(0.4, 0, 0.2, 1);
}

.conteinerSearch label {
    position: absolute;
    margin: 0;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(0.5rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputSearch:focus {
    outline: none;
    border: 2px solid rgba(0, 255, 0, 0.678);
}

.inputSearch:focus~label {
    transform: translateY(-0.7rem);
    padding: 0 0.2em;
    background-color: rgba(0, 255, 0, 0.678);
    color: black;
    border: 2px solid green;
    border-radius: 2rem;
}